[Unit]
Description=Porter self-hosted PaaS control plane and embedded dashboard
Documentation=https://github.com/sudo-su-coffee/porter
Wants=network-online.target
After=network-online.target postgresql.service

[Service]
Type=simple
User=porter
Group=porter
SupplementaryGroups=kvm
WorkingDirectory=/var/porter
EnvironmentFile=-/var/porter/porter.env
Environment=PORTER_CONFIG=/var/porter/porter.toml
ExecStart=/opt/porter/bin/porter
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
UMask=0077
LockPersonality=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/var/porter /run/porter /var/log/porter
DeviceAllow=/dev/kvm rw
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
